__pycache__/
.DS_Store
.vscode*
tmp_examples*
new_checkpoint*
batch_test*
nohup*
Wan2.2-T2V-A14B/
wan.egg-info/
*.mp4
Wan2.2-I2V-A14B/
*.log
Wan2.2-TI2V-5B
*.txt
scripts/
.claude
videophy_outputs*
videophy_outputs_14b*
videophy_data*
models/
*.csv
*.json
.claude/*
!.claude/settings.json
WorldModelBench/outputs/*
WorldModelBench/vila-ewm-qwen2-1.5b/
*.sh
WorldModelBench/images/
*.tex